<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CVTech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['color']" routerLinkActive="active">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cv']" routerLinkActive="active">CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['miniWord']" routerLinkActive="active">Mini word</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['addUtil']" routerLinkActive="active">Ajouter Utilisateur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['randImg']" routerLinkActive="active"> Random Image</a>
          </li>
      </ul>
    </div>
  </nav>
